@if(isViewState){
<app-view-selected-task [selectedTask]="selectedTask" (closeViewModal)="closeViewModal()"></app-view-selected-task>
}
<div class="dashboard-container">
    @if(shouldRenderCreateTask){
    <div class=" d-flex justify-content-end">
        <button class="btn btn-outline-danger" (click)="hideCreateTask()">Cancel</button>
    </div>
    }

    <div class="add-ask">
        @if (shouldRenderCreateTask) {
        <app-create-task [updateDataValue]="updateDataValue" [isUpdateState]="isUpdateState"
            (handleFormSubmit)="handleFormSubmit($event)" [isLoading]="isLoading"></app-create-task>
        }@else {
        <button class="btn btn-primary" [disabled]="isLoading||isViewState" (click)="openAddTask()">Add Task</button>
        }
        @if(tasks.length && !shouldRenderCreateTask){
        <button class="btn btn-danger" [disabled]="isLoading||isViewState" (click)="deleteAllTasks()">Delete all
            Tasks</button>
        }

    </div>
    @if(!shouldRenderCreateTask){
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-2 pb-4">
        @for (item of tasks; track $index) {
        <div class="col">
            <div class="card">

                <div class="card-body">

                    <h5 class="card-title"> {{item.title}} </h5>
                    <p class="card-text">
                        <strong>Assigned to -</strong> {{item.assignedTo}}
                    </p>
                    <p class="card-text">
                        <strong>Priority -</strong>{{item.priority}}
                    </p>
                    <p class="card-text">
                        <strong>Status -</strong>{{item.status}}
                    </p>
                    <p class="card-text">
                        <strong>Description -</strong>{{item.description}}
                    </p>
                </div>
                <div class="card-footer">
                    <p class="card-text">
                        <strong>Created At -</strong>{{item.taskCreatedAT|date:'shortDate'}}
                    </p>
                    <div class="d-flex justify-content-evenly align-items-center">
                        <button [disabled]="isLoading || isViewState" (click)="fetchSelectedTask(item._id)"
                            class="btn btn-primary btn-sm">👁️</button>
                        <button [disabled]="isLoading || isViewState" (click)="updateTask(item)"
                            class="btn btn-dark btn-sm">🖊️</button>
                        <button [disabled]="isLoading || isViewState" (click)="deleteTask(item._id)"
                            class="btn btn-danger btn-sm">🗑️</button>
                    </div>

                </div>
            </div>
        </div>
        }

    </div>
    }
</div>